<body>
  <nav class="navbar navbar-expand-lg navbar-dark "style="background-color:#800505">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/images/favicon.png" alt="Bootstrap" width="30" height="30">  IT Department</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!--Button for the home page on the navigation bar-->
        <li class="nav-item">
        <!--If user is on the Home page the Home button will be highlighted-->
        <% if (title == "Home" )  { %>
          <a class="nav-link active" aria-current="page" href="home">
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/home">
        <% } %>
          <i class="fa-solid fa-house"></i> Home</a>
        </li>
        // Button for the tickets page on the navigation bar
        // If user is on the Home page the Home button will be highlighted
        <li class="nav-item">
        <% if (title ==  "Current Tickets"  ) { %>
          <a class="nav-link active" aria-current="page" href="tickets"> 
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/tickets"> 
        <% } %>
          <i class="fa-solid fa-clipboard-list"></i> Tickets </a>
        </li>   
    </div>
  </div>
</nav>