<%- include ("./partials/header") %>
<%- include ("./partials/main_nav") %>
<main>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div id="indexTitle">
        <h1>Welcome to the Atlanta Falcons IT Department</h1>
        <h3 style="text-align: center">Go to the tickets page to view or submit a support ticket!<h3>
      </div>
    </div>
  </div>
</main>

<%- include ("./partials/bottom_nav") %>
<%- include ("./partials/footer") %>
